<div class="ban4" id="ban4"></div>


    
</div>
<h1>축제정보페이지</h1>
<div class='h-container'>
  <p id="notice"><%= notice %></p>
  
  
  
  <br><br>
      <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-3 h-card">
              <div class="card">
                <div class="h-img-wrapper">
                    <%= image_tag "home-01.png", class: "card-img-top h-img" %>
                    <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
                </div>
              </div>
          </div>

      </div>
      
      