<div class="container" style="margin-top:300px;">hongikfestival 개인정보취급방침

hongikfestival은 고객님의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 개인정보 보호법에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보취급방침을 수립․공개합니다.

법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경 및 시행이 시기, 변경 전 후 비교 내용을 공지사항을 통하여 고지할 예정입니다. 본 개인정보취급방침은 2017년 10월 1일부터 적용됩니다.



1. 개인정보의 처리 목적
<hongikfestival>(‘www.hongikfestival.com’이하 ‘hongikfestival’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다. - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 등 


2. 정보주체의 권리,의무 및 그 행사방법
이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다. 
① 정보주체는 <hongikfestival>(‘www.hongikfestival.com’이하 ‘hongikfestival’) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다. 
1. 개인정보 열람요구 2. 오류 등이 있을 경우 정정 요구 3. 삭제요구 4. 처리정지 요구 


3. 처리하는 개인정보의 항목 작성
① <hongikfestival>('www.hongikfestival.com'이하 'hongikfestival')은(는) 다음의 개인정보 항목을 처리하고 있습니다. 
<최소한의 개인정보> - 필수항목 : 이메일, 프로필 사진, 자기소개, 로그인ID, 닉네임, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보 등 계정 유지관리를 위한 기본적인 개인정보 


4. 개인정보의 파기
<hongikfestival>('hongikfestival')은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다. -파기절차이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.-파기기한이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다. 


5. 개인정보의 안전성 확보 조치
<hongikfestival>('hongikfestival')은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다. 
1. 정기적인 자체 감사 실시 개인정보 취급 관련 안정성 확보를 위해 정기적(분기 당 1회)으로 자체 감사를 실시하고 있습니다. 


6. 개인정보 보호책임자 작성
① hongikfestival(‘www.hongikfestival.com’이하 ‘hongikfestival) 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다. ▶ 개인정보 보호책임자 성명 :노현성 직책 :공동대표 직급 :공동대표 연락처 :010-2241-4297, dickings@likelion.org, ※ 개인정보 보호 담당부서로 연결됩니다. ▶ 개인정보 보호 담당부서 부서명 : 개인정보 보호 담당 담당자 : 노현성 연락처 : 010-2241-4297 
② 정보주체께서는 hongikfestival(‘www.hongikfestival.com’이하 ‘hongikfestival) 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 한 국철봉(‘www.hongikfestival.com’이하 ‘hongikfestival) 은(는) 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다. 


7. 개인정보 처리방침 변경
①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
</div>
