<%= form_tag(lostposts_path, :method => "get") do %>
    <div class="row">
        <div class="col-4 col-md-2" style="padding-right:5px">
            <%= select_tag(:selecto, options_for_select({ "Title" => 1, "Content" => 2, "Title/Content" => 3},params[:selecto]), class:'korfont form-control form-control-sm')%>
        </div>
        <div class="col-5 col-md-3" style="padding-right:6px; padding-left:0px"><%= text_field_tag :search, params[:search],:id=>"textarea1", placeholder: "키워드를 입력해주세요" , class: 'korfont form-control form-control-sm'%></div>
        <div class="col-3 col-md-2" style="padding-left:0px"><%= button_tag "찾기", class: "btn btn-primary btn-sm korfont" %></div>
        <div class="col-0 col-md-5"></div>
    </div>
<%end%>    
            <br>