// Place all the styles related to the Eventposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .card_size {
//     width: 18rem; 
//     height: 21rem;
// }

// .image_size {
//     width :17.9rem; height: 15rem;
// }
.ny_center{
    width : 90%;
    margin: 50px 10px 30px 10px;
    font-size:40px;
}
.ny_feature{
    
    border :2px solid #aaa;
}
.ny_form-control{
    
    width:100%;
    height:50px;
}
.ny_short_write{
    
    width:100%;
    
}
.h-border {
  border: 1px solid black;
}


.main_image{
    width:100px;
    height:100px;
}

.eventpost_show_text {
    // margin-left: 1rem;
    text-align:left;
}

.h-card-body {
    text-align: left;
    position: relative;
}
.h-card-text {
    font-size: 1rem;
}
.h-more {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.5rem;
}
.show-img-container {
    padding-top: 1rem;
}

.newbtn{
    position: absolute;
    font-size:21px;
    font-weight:bold;
    color:black;
    opacity:0.7;
    background-color:white;
    padding: 5px 10px;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.newbtn:hover{
    font-size:21px;
    font-weight:bold;
    color:black;
    opacity:1;
    background-color:white;
    padding:5px;
}
.h-show-img{
    // background: red;
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    border-radius: 3px;
}
.h-show-title{
    font-size: 3rem;
}
.h-show-text-wrapper{
    text-align: left;
    padding: 0 20px;
}
.h-show-text-line{
    // border-bottom :1px solid #333;
    font-size: 1.5rem;
    padding: 10px;
}
.show-post-nav {
    margin: 4rem 0;
}
.h-card {
    box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.3);
}
.h-card-title{
    font-size: 1.5rem;
    color: #333;
}
.show-sub-img{
    margin-top: 2rem;
}
.h-sub-img-wrapper{
    background: #fff;
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    border-radius: 3px;
    // margin: 5px;
}
.h-main-img-wrapper {
    background: #fff;
    position: relative;
    overflow: hidden;
    padding-top: 35%;
    border-radius: 3px;
}
@media screen and (max-width:799px){
    .h-show-img{
        background: #fff;
        position: relative;
        overflow: hidden;
        padding-top: 100%;
        border-radius: 3px;
    }
    .h-main-img-wrapper {
        background: #fff;
        position: relative;
        overflow: hidden;
        padding-top: 100%;
        border-radius: 3px;
    }
}