// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-info{
    margin: 1rem 0;
}
.h-map{
    margin-top: 4.5rem;
}
@media screen and (max-width:799px){
    .h-map{
        margin-top: 0;
    }
}